---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.svelte';
import Footer from '../../components/Footer.svelte';
import GradientBackground from '../../components/ui/GradientBackground.svelte';
import DownloadsPageContainer from '../../components/DownloadsPageContainer.svelte';
import ProductDownloadHeader from '../../components/ProductDownloadHeader.svelte';
import { jenkinsConfig } from '../../config/jenkins';
---

<Layout>
  <Navbar slot="navbar" client:load />
  <GradientBackground client:load />

  <main class="mx-auto max-w-7xl px-6 py-20 sm:px-8 lg:px-12">
    <ProductDownloadHeader
      client:load
      titleKey="downloads.products.horizon.title"
      descriptionKey="downloads.products.horizon.description"
      downloadHref="#"
      sourceHref="https://github.com/CraftCanvasMC/Horizon"
      gradientPattern={`repeating-linear-gradient(
        90deg,
        #ffcc66 0%,
        #ffb347 11%,
        #ff944d 22%,
        #ff7a33 33%,
        #ff5e3a 44%,
        #ff3fa4 50%,
        #ff5e3a 56%,
        #ff7a33 67%,
        #ff944d 78%,
        #ffb347 89%,
        #ffcc66 100%
      )`}
    />

    <DownloadsPageContainer client:load job={jenkinsConfig.horizonJob} />
  </main>
  <Footer slot="footer" client:load />
</Layout>

