---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/Navbar.svelte";
import Footer from "@/components/Footer.svelte";
import GradientBackground from "@/components/ui/GradientBackground.svelte";
import DownloadsPageHeader from "@/components/DownloadsPageHeader.svelte";
import DownloadsSelection from "@/components/DownloadsSelection.svelte";
---

<Layout>
  <Navbar slot="navbar" client:load />
  <GradientBackground client:load />

  <main class="mx-auto max-w-7xl px-6 py-20 sm:px-8 lg:px-12">
    <div
      class="glass-card max-w-2xl mx-auto py-8 px-2.5 mb-12"
      data-focus-target="header"
    >
      <DownloadsPageHeader client:load />
    </div>
    <DownloadsSelection client:load />
  </main>

  <Footer slot="footer" client:load />
</Layout>
